
body {
  margin: auto;

  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
}

.content .container {
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
}

.footer {
  text-align: center;
}
